
header{
    display: grid;
    position: fixed;
    z-index: 3;
    font-size: 1.8vw;
    grid-template-columns: .2fr 1fr 1fr 1fr 1fr;
}

nav{
    margin-top: 6vh;
    height: 15vh;
    position: fixed;
    width: 100%;
    display: grid;
    background-color: #fbad18;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#menu{
    display: flex;
    list-style: none;
    grid-column: 3/6;
    grid-row: 2/2;
}



.naviten{
    color: #060644;
    text-decoration: none;
    padding: .8em;
}

.naviten:hover{
    color: rgba(0,0,0,100);
}

#logo{
    display: flex;
    max-width: 18vw;
    grid-column: 2;
    margin-left: 3vw;
    z-index: 3;
}

#home{
    display:grid;
    grid-template-rows: 1fr 0.8fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    margin: 0;
}

#videobg{
    width: 100vw;
    height: auto;
    margin: 0 auto;
    z-index: -1;
    grid-column: 1/6;
    grid-row: 1/4;
}

#arrival-box {
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(6, 6, 68, 0.9);
    position: flex;
    border-radius: 2vw;
    height: 30vh;
}
#checkoutdiv{
    margin-left: 5vw;
    width: 10vw;
    height: 4vh;
    font-size: 1.1rem;
}
#checkindiv{
    margin-left: 3.5vw;
    width: 10vw;
    height: 4vh;
    font-size: 1.1rem;
}

#checkin{
    margin-left: 3.5vw;
    width: 10vw;
    height: 4vh;
    font-size: 1.1rem;
}

#checkout{
    margin-left: 5vw;
    width: 10vw;
    height: 4vh;
    font-size: 1.1rem;
}

#checkinbutton{
    margin-left: 3.5vw;
    width: 26.5vw;
    height: 5vh;
    margin-top: 2vh;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
}

.arrival{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    margin-top: 3vh;
    font-size: 1.8rem;
}
h2.arrival{
    margin-top: 3vh;
    font-size: 1.8rem;
}

label.arrival{
    margin-top: 0;
    padding-top: 0;
    font-size: 1.4rem;
}

body, ul{
    margin:0px;
    padding: 0px;
    font-family: 'Sifonn Pro';
}

@font-face {
    font-family: 'Sifonn Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Sifonn Pro'), url('SIFONN_PRO.woff') format('woff');
    }

#accommodations{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   
    background-color: white;
    height: 100vh;
}

#galerycontainer
{
    height: 50vh;
    width: 90vw;
    margin-left: 4vw;
    grid-row: 3;
    background-color: orangered;
}

#amenitiescontainer
{
    height: 20vh;
    width: 80vw;
    margin-top: 1vh;
    margin-left: 9vw;
    grid-row: 4;
    background-color: red;
}

#policies{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   
    background-image: linear-gradient(to bottom, white, #060644);
    height: 100vh;
}

#rules
{
    height: 50vh;
    width: 90vw;
    margin-left: 4vw;
    grid-row: 3;
    background-color: orangered;
}

#contact{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   
    background-color: #060644;
    height: 50vh;
}

#contacts{ 
    grid-row: 1;
    background-color: orangered;
    height: 50vh;
    width: 20vw;
    margin-left: 8.7vw;
}

.contacts
{
    list-style: none;
    flex-direction: column;
    text-align: left;
    text-decoration: none;
    list-style: none;
}

.contacts a {
   text-decoration: none;
   list-style: none;
   color: #fbad18;
}


.map
{
    position: relative;
    height: 0;
    margin-top: 5vh;
    margin-left: 2.5vw;
    grid-row: 1;
    margin-bottom: 5vh;
}

.map iframe
{
    height: 40vh;
    width: 40vw;
    border-radius: 20px;
}

#checkbox-menu{
    display: none;
}

.container h3{
    display: none;
}

/* MOBILE */


#videobgmob{
    display: none;
}

@media (max-width: 700px){
    #logo{
        display: block;
        max-width: 60vw;
        z-index: 3;
        margin: 0;
        margin-left: 2vw;
    }
    
    nav{
        margin-top: 0;
        height: 20vh;
        position: fixed;
        width: 100%;
        display: grid;
        background-color: #fbad18;
        grid-template-columns: .5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    header{
        position: fixed;
        z-index: 3;
        font-size: 8vw;
    }
    
    #menu{
        display: none;
        list-style: none;
        grid-column: none;
        grid-row:none;
        flex-direction: column;
        text-align: center;
        grid-column: 1/6;
        grid-row: 6;
        background: #fbad18;
        padding-top: 35vh;
        color: #060644;
        text-decoration: none;
    }
    
    .naviten{
        color: #060644;
        text-decoration: none;
        padding: 0;
    }

    .container{
        position: flex;
        grid-column: 5;
        grid-row: 1;
        align-items: center;
        z-index: 5;
    }

    label{
        margin-top: 11vh;
        margin-right: 4vh;
        cursor: pointer;
        position: relative;
        display: flex;
        height: 44px;
        width: 100px;
    }

    label span{
        position: absolute;
        display: block;
        height: 13px;
        width: 90%;
        border-radius: 30px;
        background: #060644;
        transition: 0.25s ease-in-out;
        margin-left: 2vw;
    }

    .container h3{
        display: block;
        margin-top: 2vh;
        margin-right: 4vw;
        color: #060644;
    }
    label span:nth-child(1){
        top: -40px;
    }
    label span:nth-child(2){
        top: -18px;
    }
    label span:nth-child(3){
        top: 4px;
    }

    #checkbox-menu:checked + label span:nth-child(1){
        transform: rotate(-45deg);
        top: -18px;
    }
    #checkbox-menu:checked + label span:nth-child(2){
        opacity: 0;
    }
    #checkbox-menu:checked + label span:nth-child(3){
        transform: rotate(+45deg);
        top: -18px;
    }

    #videobg{
        display: none;
    }

    #videobgmob{
        display: flex;
        width: 100%;
        margin: 0 auto;
        z-index: -1;
        grid-column: 1/6;
        grid-row: 1/6
    }

    #home{
        display:grid;
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        margin: 0;
    }
    #arrival-box {
        grid-column: 2/5;
        margin-top: 50vw;
        height: 70vw;
        background-color: rgba(6, 6, 68, 0.9);
        position: flex;
        border-radius: 2vw;
    }
    
    
}