header{
    display: grid;
    position: fixed;
    z-index: 3;
    font-family: 'Sifonn Pro';
    font-size: 1.8vw;
    grid-template-columns: .2fr 1fr 1fr 1fr 1fr;
}

nav{
    margin-top: 6vh;
    height: 15vh;
    position: fixed;
    width: 100%;
    display: grid;
    background-color: #fbad18;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#menu{
    display: flex;
    list-style: none;
    grid-column: 3/6;
    grid-row: 2/2;
}
#menumob{
    display: none;
}

.naviten{
    margin: auto;
    margin-top: 10vh;
    margin-bottom: auto;
    color: #060644;
    text-decoration: none;
    padding: .8em;
}

.naviten:hover{
    color: rgba(0,0,0,100);
}

#logo{
    display: flex;
    max-width: 100%;
    grid-column: 2/2;
    z-index: 3;
}
#logomob{
    display: none;
}

#home{
    display:grid;
    grid-template-rows: 1fr 0.8fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    margin: 0;
}

#videobg{
    width: 100%;
    margin: 0 auto;
    z-index: -1;
    grid-column: 1/6;
    grid-row: 1/4
}

#arrival-box {
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(6, 6, 68, 0.9);
    position: flex;
    border-radius: 2vw;
}

h2.arrival{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    margin-top: 2vh;
    padding-top: 0;
    font-size: 1.6rem;
}

body, ul{
    margin:0px;
    padding: 0px;

}

@font-face {
    font-family: 'Sifonn Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Sifonn Pro'), url('SIFONN_PRO.woff') format('woff');
    }

#accommodations{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    display: grid;
}

#checkbox-menu{
    display: none;
}



/* MOBILE */



#videobgmob{
    display: none;
}

@media (max-width: 700px){
    #logo{
        display:none;
    }
    #logomob{
        display: block;
        max-width: 60vw;
        z-index: 3;
        margin: 0;
        margin-left: 2vw;
    }
    
    nav{
        margin-top: 0;
        height: 20vh;
        position: fixed;
        width: 100%;
        display: grid;
        background-color: #fbad18;
        grid-template-columns: .5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    header{
        position: fixed;
        z-index: 3;
        font-size: 8vw;
    }
    
    #menu{
        display: none;
    }

    #menumob{
        display: none;
        flex-direction: column;
        list-style: none;
        text-align: center;
        grid-column: 1/6;
        grid-row: 6;
        background: #fbad18;
        padding-top: 35vh;
    }
    
    .naviten{
        color: #060644;
        text-decoration: none;
    }

    .container{
        position: flex;
        grid-column: 5;
        grid-row: 1;
        align-items: center;
        z-index: 5;
    }

    label{
        margin-top: 0vh;
        cursor: pointer;
        position: relative;
        display: flex;
        height: 44px;
        width: 100px;
    }

    label span{
        position: absolute;
        display: block;
        height: 13px;
        width: 90%;
        border-radius: 30px;
        background: #060644;
        transition: 0.25s ease-in-out;
        margin-left: 2vw;
    }

    .container h3{
        margin-top: 3vh;
        margin-right: 3vw;
        color: #060644;
    }
    label span:nth-child(1){
        top: -40px;
    }
    label span:nth-child(2){
        top: -18px;
    }
    label span:nth-child(3){
        top: 4px;
    }

    #checkbox-menu:checked + label span:nth-child(1){
        transform: rotate(-45deg);
        top: -18px;
    }
    #checkbox-menu:checked + label span:nth-child(2){
        opacity: 0;
    }
    #checkbox-menu:checked + label span:nth-child(3){
        transform: rotate(+45deg);
        top: -18px;
    }

    #videobg{
        display: none;
    }

    #videobgmob{
        display: flex;
        width: 100%;
        margin: 0 auto;
        z-index: -1;
        grid-column: 1/6;
        grid-row: 1/6
    }

    #home{
        display:grid;
        grid-template-rows: .7fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        margin: 0;
    }
    #arrival-box {
        grid-column: 2/5;
        margin-top: 20vw;
        height: 70vw;
        background-color: rgba(6, 6, 68, 0.9);
        position: flex;
        border-radius: 2vw;
    }
    
    
}